body{
    font-family:Arial;
    background:#e5e7eb;
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    width:300px;
    text-align:center;
}

input{
    padding:8px;
    width:70%;
}

button{
    padding:8px;
    background:#10b981;
    color:white;
    border:none;
}

li{
    margin-top:10px;
    background:#f3f4f6;
    padding:8px;
    display:flex;
    justify-content:space-between;
}
